textarea {
	resize: none;
}

button {
	margin-top: 10px;
}

.calendarbox {
	margin-top: 10px;
}

.calendarbox .calendar {
	float: left;
	margin-bottom: 10px;
	width: 200px;
	padding-top: 5px;
}

.calendarbox .date {
	margin-left: 200px;
	text-align: center;
	padding-top: 40px;
	
	
}
.calendarbox .date .time {
	margin-left: 200px;
	text-align: center;
	padding-top: 5px;
}

.hour{
	margin-left: 40px;
	margin-right: 20px;
	float: left;
}


.clear {
	clear: both;
}

.center {
	text-align: center;
}
.createbutton {
	margin-right: 10px;
	margin-top: 10px;
}