.list-event-wrapper {
	
}

.event-creator-img {
	float: left;
	height: 54px;
	width: 54px;
	object-fit: cover;
}

.event-dog-img {
	display: inline-block;
	height: 48px;
	width: 48px;
	margin-right: 5px;
	object-fit: cover;
}

.event-content {
	overflow: hidden;
	padding-left: 20px;
}

.event-creator {
	display: block;
	color: #3F778A;
	font-size: 14px;
	text-decoration: none;
}



p {
	margin: 0px;
}


.vspace {
	margin-top: 12px;
}


h3 {
	margin: 0;
	display: inline-block;
}




