.left {
	position: absolute;
	height: 700px;
	width: 580px;
	margin-top: 64px;
}

.right {
	position: absolute;
	margin-left: 600px;
	margin-top: 64px;
	width: 260px;
	height: 700px;
}

.box {
	position: relative;
	margin-top: 20px;
	background: #F8F8F8;
	font-family: Cabin;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.39);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.39);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.39);
	height: 300px;
	
}

h3 {
	padding-top: 5px;
	text-align: center;
}

.box .login {
	padding-top: 50px;
	text-align: center;
}

.box .register {
	text-align: center;
	padding-top: 50px;
}

.box .registerform {
	padding-top: 20px;
	padding-left: 20px;
}

.box .registerform .error {
	color: red;
	padding-left: 20px;
	display: inline;
}
.box .complete {
	text-align: center;
	padding-top: 70px;
}
.inline {
	display: inline-block;
}