.left {
	position: absolute;
	height: 700px;
	width: 580px;
	margin-top: 64px;
}

.right {
	position: absolute;
	margin-left: 600px;
	margin-top: 64px;
	width: 260px;
	height: 700px;
}

.box {
	position: relative;
	margin-top: 20px;
	text-align: center;
	background: #F8F8F8;
	font-family: Cabin;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.39);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.39);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.39);
	padding: 20px;
	height: 300px;
}

.box  .login {
	padding-top: 70px;
}

.box  .register {
	padding-top: 50px;
}

#error-msg {
	color: red; padding-left; 5
	px:
}