
.profile-wrapper {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

.profile-wrapper .left {
	position: asolute;
	top: 0;
	left: 0;
	margin-right: 130px;
}

.profile-wrapper .right {
	position: absolute;
	top: 0;
	right: 0;
	width: 120px;
}

.profile-wrapper .left .description {
	font-size: 15px;
}

.profile-wrapper .left ul {
	list-style-type: none;
	margin: 0;
	padding-left: 10px;
	padding-bottom: 10px;
}

.profile-wrapper .left li {
	display: block;
	position: relative;
	height: 64px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.profile-wrapper .left ul li img {
	display: block-inline;
	float: left;
	height: 64px;
	width: 64px;
	margin-right: 20px;
	object-fit: cover;
}

.profile-wrapper .left ul li > div {
	padding-bottom: 2px;
}


.profile-wrapper .left ul li p {
	margin: 0;
	font-size: 13px;
}

.profile-wrapper .left form {
	margin-top: 20px;
}

.profile-wrapper .left form .label-header {
	display: block;
	margin-top: 16px;
}

.profile-wrapper .left .edit-dog {
	right: 0;
}

.profile-wrapper .left #add-dog {
	display: block;
	margin-left: 10px;
	text-align: center;
}


.profile-wrapper .right #change-pic {
	display: block;
	text-align: center;
	margin: 6px auto;
	padding-right: 12px;
}

.profile-wrapper .right #view-profile-img {
	display: inline-block;
	width: 120px;
	height: 120px;
	margin-top: 20px;
	object-fit: cover;
}

.profile-wrapper h3 {
	display: inline-block;
	margin: 0;
}

.profile-wrapper h5 {
	margin: 0;
	padding: 0;
}



.center-vert {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.cap-first {
	text-transform: capitalize;
}


.wrapper-file-input {
	display: block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    text-align: center;
    margin-top: 6px;
}

.wrapper-file-input .file-input {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}


.action-button {
	display: inline-block;
	margin-right: 6px;
}

