
.profile-wrapper {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

.profile-content-left {
	position: asolute;
	top: 0;
	left: 0;
	margin-right: 130px;
}

.profile-content-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 120px;
}


#profile-gender {
	text-transform: capitalize;
	margin: 6px 0 0 0;
	text-size: 13px;
}

#profile-description {
	font-size: 15px;
}

#profile-dog-list {
	list-style-type: none;
	margin: 0;
	padding-left: 10px;
	padding-bottom: 10px;
}

#profile-dog-list li {
	display: block;
	position: relative;
	height: 64px;
	margin-top: 3px;
	margin-bottom: 5px;
}

#profile-dog-list li img {
	display: inline-block;
	float: left;
	height: 64px;
	width: 64px;
	margin-right: 20px;
	object-fit: cover;
}

#profile-dog-list li p {
	margin: 2px 0 2px 0;
	font-size: 13px;
}

#profile-edit-button {
	float: right;
}

#image-preview {
	display: inline-block;
	width: 120px;
	height: 120px;
	margin-top: 20px;
	object-fit: cover;
}


.profile-gender-input label {
	display: inline;
}

#editprofile-add-dog {
	display: block;
	margin-left: 10px;
	text-align: center;
}

.center-vertical {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.wrapper-file-input {
	display: block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    text-align: center;
    margin-top: 6px;
}

.wrapper-file-input .file-input {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}
